
.re_menu{
    padding-right:30px;
    padding-left:30px;
}
.reviewbox{
    text-align: center;
}
.review{
    display:flex;
    align-content: center;
    justify-content : center;
}
form div{
    display:flex;
    align-content:center;
}

input[type=text]{
    width:1000px;
}
input[type=submit]{
    width:100px;
    height:50px;
}
.comment_{
    display:flex;
    justify-content:center;
}
