@font-face{
    font-family:blackhans;
    src: url(../BlackHanSans-Regular.ttf);
}
.bnt_foot{
    height:100px;
}
.seatshit{
    height:50px;
    font-size:20px;
}
.fontupup, .fontupup a{
    font-size:16px!important;
}
.active, .black, .holy, .blue, p#theater0, p#movie0, p#time{
    cursor:pointer;
}

.serv_margin{
    font-family: blackhans;
    margin-left:20px;
}

#test_model_overlay {
    opacity: 0;
    display:none;
}

#js-model-holder{
    display : none;
}

/* 추가한것!!!!!! */

#test2_model_overlay {
    opacity: 0;
    display:none;
}

#js2-model-holder{
    display : none;
}
#js2-model {
    background: #fff;
    border-radius: 0.4375rem;
    width: 100%;
    height: 100%;
    color: #222;
    text-align: center;
    letter-spacing: 0.0625rem;
    overflow: hidden;
    display: none;
}

.select_way li {
    text-align: center;
    list-style-type : none;
}

.in2 {
    border : 1px solid black;
    margin : 10px;
}

.in2 p {
    border-bottom : 1px solid black;
    width : 90%;
}

p.stack {
    text-align:center;
    width:87%;
}

/* 추가한것 !!!!!! */
/* .mb-4 {
    margin-botton : 0.1rem !important;
} */

.py-5 {
    margin-top:20px;
}

.choice {
    margin-top : -22px;
    height:40px;
    margin-bottom : 40px;
}

.row {
    margin-bottom: 33px;
    height:327px;
}

#choice_seat {
    width : 100%;
    background-color: rgb(73, 72, 72);
    color: white;
}

.model_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background: rgba(34,34,34,0.9);
    z-index: 1;
}

.button-close {
    position: absolute;
    right:10px;
    top:10px;
}

.model-holder{
    position: absolute;
    width: 60rem;
    height: 28.125rem;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin-left: -30rem;
    margin-top: -14.0625rem;
    display: block;
}

.model_close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    display: inline-block;
}

#js-model {
    background: #fff;
    border-radius: 0.4375rem;
    width: 100%;
    height: 100%;
    color: #222;
    text-align: center;
    letter-spacing: 0.0625rem;
    overflow: hidden;
    display: none;
}

.active {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #333;
    color : rgb(255, 255, 255);
}

.li_active {
    border: 2px solid black;
    background-color: #333;
    color : rgb(255, 255, 255);
}


p {
    text-align: center;
    margin-bottom : 10px;
}

.holy {color : red;}
.blue {color : blue;}
.black {color : black;}
.gray {color : rgb(97, 97, 97);}

summary {
    color : black;
}

td {
    background-color: inherit;
}

.card-body {
    overflow : auto;
    background-color: #d4d3c9;
}

.seats {
    border-right : 1px dotted black;
    width: 35%;
    height : 410px;
    padding-top : 100px;
    float: left;
}

.row2{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.print_seat {
    margin-right:20px;
}

#seatsList{
    clear : both;
    position: relative;
    left: 17px;
}

.in {
    position: relative;
    margin: 180px 0 0 0;
}

.btn_clear {
    position: relative;
    float:right;
    bottom:10px;
    right:10px;
}

.seatSelection {
    text-align: center;
    padding: 5px;
    margin: 15px;}

.seatsReceipt {
    overflow:auto;
    width: 35%;
    text-align: center;
    float: left;
    clear: right;
    margin-top : 20px;
}

.seatsFinal {
    border-left : 1px dotted black;
    height : 410px;
    width : 30%;
    text-align: center;
    float:left;
    margin : auto;
}


.seatNumber {
	display: inline;
	padding: 10px;
	background-color: #5c86eb;
	color: #FFF;
	border-radius: 5px;
	cursor: default;
	height: 25px;
	width: 25px;
	line-height: 25px;
	text-align: center;
 }

.seatRow {padding: 10px;}

.seatSelected {
	background-color: lightgreen;
	color: black;
 }

.seatUnavailable {background-color: gray;}

.seatRowNumber {
	clear: none;
	display: inline;
 }

.hidden {display: none;}

.seatsAmount {max-width: 2em;}
