.movielist{
    list-style: none;
    
    display: flex;
   
}

.box_rank{
    text-align: center;
}

.box-image{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 17px;
    margin-right: 17px;
}

.box-content{
    text-align: center;
}