@font-face{
    font-family: odibee;
    src: url(../OdibeeSans-Regular.ttf);
}

@font-face{
    font-family: nanum-reg;
    src: url(../NanumGothicCoding-Regular.ttf);
}
.movielist{
    list-style: none;
    
    display: flex;
   
}

.box_rank{
    text-align: center;
}

.box-image{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 17px;
    margin-right: 17px;
}

.box-content{
    text-align: center;
}

.row{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

h1{
    font-family: nanum-reg;
}

