@charset "utf-8";
/* NHN Technology Service UIT MHN 131008 */

/* Common */
html,body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,menu,a{margin:0;padding:0}
html,body{height:100%}
body,input,textarea,select,button,table{font-family:'나눔고딕',NanumGothic,'돋움',Dotum,Helvetica,AppleSDGothicNeo-Medium,AppleGothic,sans-serif;font-size:12px}
img,fieldset,button{border:0}
ul,ol,menu{list-style:none}
em,address{font-style:normal}
a{text-decoration:none;background-color:transparent}
a:hover,a:active,a:focus{text-decoration:underline;background-color:transparent}
caption{display:none}
button{cursor:pointer}
iframe{border:0;width:100%}
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
/*.none{display:none}*/

/* compatibility (html5,ios) */
header,hgroup,article,nav,footer,figure,figcaption,canvas,section{display:block}
input[type=text],input[type=password],button,input[type=button],input[type=reset],input[type=image],input[type=submit],textarea{-webkit-appearance:none;-webkit-text-size-adjust:none;-webkit-border-radius:0}

h1.svc_name{overflow:hidden;position:relative;height:36px;padding:11px 0 0;border-bottom:1px solid #0d0d0d;background:#2b2b2b;z-index:40}
h1.svc_name:after{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:1px;background:#313131;content:''}
h1.svc_name a{display:block;float:left;height:19px;font-size:0;line-height:0}
h1.svc_name a img{vertical-align:middle}
h1.svc_name a.ci_logo{width:62px;height:19px;margin:0 5px 0 16px;padding-top:6px}
h1.svc_name a.svc_logo{width:34px;height:19px;margin-top:3px}

/* skip navigation */
#u_skip{position:relative;top:-7px;z-index:2147483647}
#u_skip a{position:absolute;left:0;top:-30px;width:128px;background:url(https://ssl.pstatic.net/static/common/sp_u_skip.png) repeat-x 0 -11px;border:1px solid #4ec53d;text-align:center;outline:none}
#u_skip a:active,
#u_skip a:focus{top:0;text-decoration:none;cursor:pointer;zoom:1}
#u_skip span{display:inline-block;padding:2px 6px 0 0;background:url(https://ssl.pstatic.net/static/common/sp_u_skip.png) no-repeat 100% 11px;font-size:11px;letter-spacing:-1px;color:#fff;line-height:26px}

/* navigation */
.navi{overflow:hidden;width:100%}
.navi > li > a{display:block;overflow:hidden;height:39px;background:url(https://ssl.pstatic.net/static/movie/2013/10/sp_nav.png) no-repeat;vertical-align:top}
.navi > li > a > strong{display:block;text-indent:-9999px}
.navi > li > a.menu01{background-position:0 0}
.navi > li > a.menu01_on{background-position:-150px 0}
.navi > li > a.menu02{background-position:0 -39px}
.navi > li > a.menu02_on{background-position:-150px -39px}
.navi > li > a.menu03{background-position:0 -78px}
.navi > li > a.menu03_on{background-position:-150px -78px}
.navi > li > a.menu04{background-position:0 -117px}
.navi > li > a.menu04_on{background-position:-150px -117px}
.navi > li > a.menu05{background-position:0 -156px}
.navi > li > a.menu05_on{background-position:-150px -156px}
.navi > li > a.menu06{background-position:0 -195px}
.navi > li > a.menu06_on{background-position:-150px -195px}
.navi > li > a.menu07{background-position:0 -234px}
.navi > li > a.menu07_on{background-position:-150px -234px}
.navi > li > a.menu08{background-position:0 -273px}
.navi > li > a.menu08_on{background-position:-150px -273px}
.navi > li.nav_indi{padding:5px 4px 6px}
.navi > li.nav_indi > a{width:140px;height:43px;background-position:0 -315px}
.navi > li > a .ico_up{display:block;overflow:hidden;position:absolute;top:11px;left:58px;width:28px;height:15px;background:url(https://ssl.pstatic.net/static/movie/2012/09/ico_up.png) no-repeat;text-indent:-99999em}
.navi > li > a.menu01_on .ico_up{background:url(https://ssl.pstatic.net/static/movie/2012/09/ico_up_on.png) no-repeat}
.navi > li ul.navi_sub{padding:2px 0 12px 15px;border-bottom:1px solid #2c2c2c;background:#474747}

.navi > li ul.navi_sub li a{display:block;overflow:hidden;width:120px;height:15px;margin-top:9px;background:url(https://ssl.pstatic.net/static/movie/2018/12/sp_nav2.png) no-repeat -9999px -9999px}
.navi > li ul.navi_sub li a em{display:block;text-indent:-9999px}
.navi > li ul.navi_sub li a.sub2_1{background-position:0 0}
.navi > li ul.navi_sub li a.sub2_1_on{background-position:-150px 0}
.navi > li ul.navi_sub li a.sub2_2{background-position:0 -20px}
.navi > li ul.navi_sub li a.sub2_2_on{background-position:-150px -20px}
.navi > li ul.navi_sub li a.sub2_3{background-position:0 -40px}
.navi > li ul.navi_sub li a.sub2_3_on{background-position:-150px -40px}
.navi > li ul.navi_sub li a.sub2_4{background-position:0 -60px}
.navi > li ul.navi_sub li a.sub2_4_on{background-position:-150px -60px}
.navi > li ul.navi_sub li a.sub3_1{background-position:-300px 0}
.navi > li ul.navi_sub li a.sub3_1_on{background-position:-450px 0}
.navi > li ul.navi_sub li a.sub3_2{background-position:-300px -20px}
.navi > li ul.navi_sub li a.sub3_2_on{background-position:-450px -20px}
.navi > li ul.navi_sub li a.sub4_1{background-position:-600px 0}
.navi > li ul.navi_sub li a.sub4_1_on{background-position:-750px 0}
.navi > li ul.navi_sub li a.sub4_2{background-position:-600px -20px}
.navi > li ul.navi_sub li a.sub4_2_on{background-position:-750px -20px}
.navi > li ul.navi_sub li a.sub4_3{background-position:-600px -40px}
.navi > li ul.navi_sub li a.sub4_3_on{background-position:-750px -40px}
.navi > li ul.navi_sub li a.sub4_4{background-position:-600px -60px}
.navi > li ul.navi_sub li a.sub4_4_on{background-position:-750px -60px}
.navi > li ul.navi_sub li a.sub4_5{background-position:-600px -80px}
.navi > li ul.navi_sub li a.sub4_5_on{background-position:-750px -80px}
.navi > li ul.navi_sub li a.sub4_6{background-position:-600px -100px}
.navi > li ul.navi_sub li a.sub4_6_on{background-position:-750px -100px}
.navi > li ul.navi_sub li a.sub4_7{background-position:-600px -120px}
.navi > li ul.navi_sub li a.sub4_7_on{background-position:-750px -120px}
.navi > li ul.navi_sub li a.sub4_8{margin-top:8px;height:23px;background-position:-600px -140px}
.navi > li ul.navi_sub li a.sub4_8_on{margin-top:8px;height:23px;background-position:-750px -140px}
.navi > li ul.navi_sub li a.sub5_1{background-position:-900px 0}
.navi > li ul.navi_sub li a.sub5_1_on{background-position:-1050px 0}
.navi > li ul.navi_sub li a.sub5_2{background-position:-900px -20px}
.navi > li ul.navi_sub li a.sub5_2_on{background-position:-1050px -20px}
.navi > li ul.navi_sub li a.sub5_3{background-position:-900px -40px}
.navi > li ul.navi_sub li a.sub5_3_on{background-position:-1050px -40px}
.navi > li ul.navi_sub li a.sub5_4{background-position:-900px -60px}
.navi > li ul.navi_sub li a.sub5_4_on{background-position:-1050px -60px}
.navi > li ul.navi_sub li a.sub5_5{background-position:-900px -80px}
.navi > li ul.navi_sub li a.sub5_5_on{background-position:-1050px -80px}
.navi > li ul.navi_sub li a.sub6_1{background-position:-1200px 0}
.navi > li ul.navi_sub li a.sub6_1_on{background-position:-1350px 0}
.navi > li ul.navi_sub li a.sub6_2{background-position:-1200px -20px}
.navi > li ul.navi_sub li a.sub6_2_on{background-position:-1350px -20px}
.navi > li ul.navi_sub li a.sub6_3{background-position:-1200px -40px}
.navi > li ul.navi_sub li a.sub6_3_on{background-position:-1350px -40px}
.navi > li ul.navi_sub li a.sub7_1{background-position:-1500px 0}
.navi > li ul.navi_sub li a.sub7_1_on{background-position:-1650px 0}
.navi > li ul.navi_sub li a.sub7_2{background-position:-1500px -20px}
.navi > li ul.navi_sub li a.sub7_2_on{background-position:-1650px -20px}
.navi > li ul.navi_sub li a.sub7_3{background-position:-1500px -40px}
.navi > li ul.navi_sub li a.sub7_3_on{background-position:-1650px -40px}
.in_scroll{position:relative}
.lnb_etc{position:relative;bottom:33;left:0;z-index:50;margin-top:-1px;padding:15px 19px 15px 17px;border-bottom:1px solid #0a0a0a;border-top:1px solid #0d0d0d}
.info_view{width:59px;height:14px}
.info_view a.btn_view_md{display:block;overflow:hidden;height:14px;background:url(https://ssl.pstatic.net/static/movie/2012/06/btn_sp_bg4.png) no-repeat -287px -489px}
.info_view em{display:block;text-indent:-9999px}
.info_view .ly_info_view{width:217px;position:absolute;z-index:100;left:8px;top:37px;padding:12px 24px 10px 12px;border:1px solid #666;background:#fff}
.info_view .ly_info_view span{display:block;position:absolute;left:56px;top:-6px;width:9px;height:6px;background:url(https://ssl.pstatic.net/static/movie/2012/06/ico_arrow_3.gif) no-repeat}
.view_mode{overflow:hidden;width:113px;height:49px;margin-top:8px}
.view_mode a{display:block;overflow:hidden;float:left;height:49px;background:url(https://ssl.pstatic.net/static/movie/2012/06/btn_sp_bg4.png) no-repeat -9999px -9999px}
.view_mode a.normal_on{width:57px;background-position:-207px -515px}
.view_mode a.wide_off{width:56px;background-position:-264px -515px}
.view_mode a.normal_off{width:57px;background-position:-207px -569px}
.view_mode a.wide_on{width:56px;background-position:-264px -569px}
.view_mode a.normal_disabled{width:57px;background-position:-207px -793px}
.view_mode a.wide_disabled{width:56px;background-position:-264px -793px}
.view_mode a em{display:block;text-indent:-9999px}

.svc_name + .scrollbar{position:absolute;top:48px;bottom:0;z-index:20;width:100%}
.svc_name + .scrollbar .scrollbar-box{position:absolute;top:0;left:0;z-index:50;width:148px;height:100%}
.svc_name + .scrollbar .scrollbar-content{position:absolute;top:0;left:0;z-index:30;width:148px}
.svc_name + .scrollbar .scrollbar-v{position:absolute;top:0;right:0;z-index:40;width:14px;height:100%}
.svc_name + .scrollbar .scrollbar-track{position:relative;top:0;width:13px;margin:-1px 0;border:1px solid #212121;height:100%;background:#313131}
.svc_name + .scrollbar .scrollbar-track-hold{background-color:#33333b}
.svc_name + .scrollbar .scrollbar-thumb{overflow:hidden;position:relative;top:2px;width:13px;height:100px;background:url(https://ssl.pstatic.net/static/movie/2012/06/scroll_bg.gif) repeat-y}
.svc_name + .scrollbar .scrollbar-thumb-hold{background-color:#555562}
.svc_name + .scrollbar .scrollbar-button-up{overflow:hidden;position:relative;top:0;width:13px;height:14px;border:1px solid #212121;background:url(https://ssl.pstatic.net/static/movie/2012/06/btn_sp_bg4.png) no-repeat -117px -602px}
.svc_name + .scrollbar .scrollbar-button-up-hold{background-color:red}
.svc_name + .scrollbar .scrollbar-button-down{overflow:hidden;position:relative;top:0;width:13px;height:14px;border:1px solid #212121;background:url(https://ssl.pstatic.net/static/movie/2012/06/btn_sp_bg4.png) no-repeat -117px -618px}
.svc_name + .scrollbar .scrollbar-button-down-hold{background-color:red}
.svc_name + .scrollbar .scrollbar-noscript .scrollbar-box{z-index:30;width:148px}
.svc_name + .scrollbar .scrollbar-noscript .scrollbar-v{display:none}
.svc_name + .scrollbar .scrollbar-v em{display:block;width:5px;height:3px;margin:5px auto 0;background:url(https://ssl.pstatic.net/static/movie/2012/06/ico_arr_scroll.gif) no-repeat -9999px -9999px}
.svc_name + .scrollbar .scrollbar-v em.sc_up{background-position:0 0}
.svc_name + .scrollbar .scrollbar-v em.sc_down{background-position:0 -5px}
.svc_name + .scrollbar .scrollbar-v{display:none}
.svc_name + .scrollbar .scrollbar-show {display:block}

/* expand UI */
#wrap .gnb_container .gnb_content{height:29px;text-align:right}
#wrap.basic .gnb_container{margin:0 auto;padding-left:170px}
#wrap.basic .gnb_container .gnb_content{margin-right:150px}
#wrap.basic .gnb_box .gnb_wrap{max-width:270px}
#wrap.basic #gnb a.gnb_my .gnb_name{max-width:112px}
#wrap.fix .gnb_container{margin:0 auto;padding-left:170px}
#wrap.fix .gnb_container .gnb_content{width:840px}
#wrap.fix .gnb_box .gnb_wrap{max-width:350px}
#wrap.fix #gnb a.gnb_my .gnb_name{max-width:181px}
#wrap.fix2 .gnb_container{margin:0 auto;padding-left:170px}
#wrap.fix2 .gnb_container .gnb_content{width:1031px}
#wrap.fix2 .gnb_box .gnb_wrap{max-width:550px}
#wrap.fix2 #gnb a.gnb_my .gnb_name{max-width:366px}
#wrap.fix3 .gnb_container{margin:0 auto;padding-left:170px}
#wrap.fix3 .gnb_container .gnb_content{width:1011px}
#wrap.fix3 .gnb_box .gnb_wrap{max-width:530px}
#wrap.fix3 #gnb a.gnb_my .gnb_name{max-width:357px}
#wrap.wide .gnb_container{margin:0 auto;padding-left:170px}
#wrap.wide .gnb_container .gnb_content{width:1552px}
#wrap.wide .gnb_box .gnb_wrap{max-width:1000px}
.t #wrap.basic .gnb_container{padding-left:150px}
.t #wrap.basic .gnb_container .gnb_content{margin-right:0}

/* GNB */
.gnb_box{display:inline-block;height:33px;white-space:nowrap;text-align:left;*display:inline;*zoom:1}
.gnb_box:after{display:block;clear:both;content:" "}
.gnb_box .gnb_wrap{float:left;margin:1px -18px 0 0;*display:inline;*zoom:1}
.gnb_box .gnb_wrap:after{display:block;clear:both;content:''}
#gnb{float:right;right:30px}
#gnb a.gnb_my .gnb_name{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.srch_area{float:left}
.behavior_lst{float:left;margin-top:8px;line-height:16px}
.behavior_lst>li{float:left;padding:0 6px 0 0}
.behavior_lst>li+li{padding:0 6px 0 8px;background:url(https://ssl.pstatic.net/static/movie/2012/06/gnb_bg.gif) no-repeat 0 2px}
.behavior_lst>li.user_nickname{width:147px}
.behavior_lst li a{display:block;color:#fff;font-family:dotum,Helvetica,sans-serif}
.behavior_lst li a.user_id,.behavior_lst li a.all_svc{padding-right:12px;background:url(https://ssl.pstatic.net/static/movie/2012/07/ico_arrow_1.gif) no-repeat 100% 6px}
.behavior_lst li a.user_id{float:right}
.behavior_lst li a.user_id span{display:inline-block;overflow:hidden;max-width:123px;text-align:right;text-overflow:ellipsis;white-space:nowrap;vertical-align:top;*vertical-align:middle;cursor:pointer}
@media \0screen {.behavior_lst li a.user_id span{width:123px}}
.behavior_lst li a.user_id:hover{text-decoration:none}
.behavior_lst li a.user_id:hover span{text-decoration:underline}
.srch_field_on{width:211px;height:33px}
.srch_field_on .ipt_srch{float:left;position:relative;width:167px;height:33px;background:url(https://ssl.pstatic.net/static/movie/2012/07/search_bg.png) no-repeat}
.srch_field_on .ipt_srch label{position:absolute;left:9px;top:2px;font-weight:bold;font-size:12px;font-family:'나눔고딕',NanumGothic,'돋움',Dotum,sans-serif;line-height:28px;color:#fff}
.srch_field_on .ipt_srch .align{display:inline-block;width:1px;height:33px;vertical-align:middle;*vertical-align:top}
.srch_field_on .ipt_srch input.ipt_tx_srch{display:inline-block;width:140px;height:28px;margin-left:2px;padding:0 0 1px 7px;border:0;background:#323232;font-weight:bold;font-size:12px;font-family:'나눔고딕',NanumGothic,'돋움',Dotum,sans-serif;line-height:28px;color:#fff;vertical-align:middle;ime-mode:active}
.srch_field_on .ipt_srch span.auto_tx{position:absolute;z-index:10;right:0;top:0;width:25px;height:33px;line-height:33px}
.srch_field_on .ipt_srch span.auto_tx a{display:block;height:33px;padding:0 9px}
.srch_field_on .ipt_srch span.auto_tx a img{margin-top:14px;vertical-align:top}
.srch_field_on button.btn_srch{display:block;width:44px;height:33px;background:url(https://ssl.pstatic.net/static/movie/2012/07/btn_search.png) no-repeat;border:none}
.auto_tx_area{display:none;clear:both;position:absolute;z-index:10002;width:406px;margin:0 0 0 -199px;border:2px solid #333;background:#fff;text-align:left}
.auto_tx_area .at_alert{color:#999;padding:13px 0 0 10px}
.auto_tx_area .auto_mv{}
.auto_tx_area strong{display:block;height:16px;margin-left:24px;background:url(https://ssl.pstatic.net/static/movie/2012/08/h_tx_sp2.png) no-repeat -9999px -9999px;text-indent:-9999px}
.auto_tx_area strong.h_auto_mv{width:28px;margin-top:20px;background-position:-90px -869px}
.auto_tx_area strong.h_auto_people{width:40px;margin-top:15px;background-position:-90px -887px}
.auto_tx_area .auto_people{margin-top:10px;border-top:1px solid #ededee;*zoom:1;*position:relative}
.auto_tx_area ul{margin-top:5px}
.auto_tx_area ul li a{display:block;overflow:hidden;height:43px;padding:5px 25px;cursor:pointer}
.auto_tx_area ul li a:hover{text-decoration:none;background:#f7f7f7}
.auto_tx_area ul li a p.auto_thumb{float:left;overflow:hidden;width:30px;height:43px;margin-right:10px}
.auto_tx_area ul li a:hover p.auto_thumb{width:26px;height:39px;border:2px solid #f24443}
.auto_tx_area ul li a:hover p.auto_thumb img{margin:-2px}

.auto_tx_area ul li a.m_over{text-decoration:none;background:#f7f7f7}
.auto_tx_area ul li a.m_over p.auto_thumb{width:26px;height:39px;border:2px solid #f24443}
.auto_tx_area ul li a.m_over p.auto_thumb img{margin:-2px}
.auto_tx_area .auto_people p.auto_thumb{float:left;overflow:hidden;width:30px;height:38px;margin-right:10px}
.auto_tx_area .auto_people a{height:38px}
.auto_tx_area .auto_people a:hover p.auto_thumb{width:26px;height:34px;border:2px solid #f24443}
.auto_tx_area .auto_people a:hover p.auto_thumb img{margin:-2px}
.auto_tx_area .auto_people a.p_over p.auto_thumb{width:26px;height:34px;border:2px solid #f24443}
.auto_tx_area .auto_people a.p_over p.auto_thumb img{margin:-2px}
.auto_tx_area .auto_people .thumb_spec{overflow:hidden;padding-top:1px}
.auto_tx_area ul li a .thumb_spec{overflow:hidden;padding-top:4px}
.auto_tx_area ul li a .thumb_spec p.auto_tx_tit{overflow:hidden;font-size:14px;color:#333;letter-spacing:-1px;font-family:'나눔고딕',NanumGothic,dotum,Helvetica,sans-serif;text-overflow:ellipsis;width:316px;white-space:nowrap}
.auto_tx_area ul li a .thumb_spec p.auto_tx_tit:before{content:" ";color:#333}
.auto_tx_area ul li a .thumb_spec p.auto_tx_tit em{color:#f24443;font-weight:bold}
.auto_tx_area ul li a .thumb_spec p.auto_tx_tit span.auto_since{margin-left:4px;color:#999;font-family:tahoma;font-size:13px;letter-spacing:0}
.auto_tx_area ul li a .thumb_spec p.etc_spec{display:block;overflow:hidden;margin-top:5px;font-size:13px;color:#666;letter-spacing:-1px;white-space:nowrap;text-overflow:ellipsis;font-family:'나눔고딕',NanumGothic,dotum,sans-serif}
.auto_tx_area ul li a .thumb_spec dl{overflow:hidden;margin-top:5px;font-size:13px}
.auto_tx_area ul li a .thumb_spec dt{display:block;float:left;clear:left;color:#666;margin-right:12px;font-family:'나눔고딕',NanumGothic,dotum,Helvetica,sans-serif}
.auto_tx_area ul li a .thumb_spec dd{overflow:hidden;color:#666;white-space:nowrap;text-overflow:ellipsis;font-family:'나눔고딕',NanumGothic,dotum,Helvetica,sans-serif}
.auto_tx_area .auto_tx_foorer{position:relative;margin-top:15px;height:35px;background:#f7f7f7;border-top:1px solid #e7e7e7;line-height:35px;padding:0 12px}
.auto_tx_area .auto_tx_foorer a.all_result{font-size:12px;color:#999;letter-spacing:-1px;padding-right:8px;background:url(https://ssl.pstatic.net/static/movie/2012/06/ico_arrow2.gif) no-repeat 100%}
.auto_tx_area .auto_tx_foorer p.auto_tx_etc{display:inline-block;position:absolute;right:12px;top:0}
.auto_tx_area .auto_tx_foorer p.auto_tx_etc a{display:inline-block;font-size:12px;color:#999;letter-spacing:-1px}
.auto_tx_area .auto_tx_foorer p.auto_tx_etc a.helper{}
.auto_tx_area .auto_tx_foorer p.auto_tx_etc a.clse{padding-left:6px;margin-left:5px;background:url(https://ssl.pstatic.net/static/movie/2012/06/bg_tx_line.png) no-repeat 0 50%}

/* LayerPopup */
.lpop_wrap{position:absolute;z-index:500}
.lpop_wrap .arr{position:absolute;top:-3px;left:50%;width:5px;height:4px;margin-left:-2px;background:url(http://static.shopping.naver.net/f2/img/sp_ico.png) no-repeat 0 -30px;font-size:0;line-height:0}
.lpop_wrap .lpop_cont{border:1px solid #afb3ba;background-color:#fff}
.lpop_wrap .ltxt{display:block;padding:2px 3px 0;font-size:11px;line-height:14px;color:#565a65;letter-spacing:-1px}
.lpop_wrap .lcheckout_go{padding:7px 11px 5px;font-size:11px;line-height:15px;color:#565960;letter-spacing:-1px;text-align:left}
.lpop_wrap .lcheckout_go a{display:inline-block;padding-right:6px;background:url(http://static.shopping.naver.net/f2/img/sp_ico.png) no-repeat 100% -56px;color:#05c300}
.lpop_wrap .lcheckout_go a em{font-weight:bold}
.lpop_wrap2 .lcheckout_go{padding:8px 10px 7px 9px;font-size:11px;line-height:15px;color:#565960;letter-spacing:-1px;text-align:left}
.lpop_wrap2 .lcheckout_go a{display:inline-block;padding-right:6px;background:url(http://static.shopping.naver.net/f2/img/sp_ico.png) no-repeat 100% -1436px;color:#05c300}
.lpop_wrap2 .lcheckout_go a em{font-weight:bold}

.behavior_lst li a.user_id~.lpop_wrap2{margin:17px 0 0 61px}
.behavior_lst li a.all_svc~.lpop_wrap2{margin:1px 0 0 -40px}

/* LayerPopup - dark gray& shadow */
.lpop_wrap2{position:absolute;z-index:10003}
.lpop_wrap2 .arr{position:absolute;top:-5px;left:50%;width:11px;height:6px;margin-left:-5px;background:url(http://static.shopping.naver.net/f2/img/sp_ico.png) no-repeat 0 -40px;font-size:0;line-height:0}
.lpop_wrap2 .arr_r{position:absolute;top:50%;right:-5px;width:6px;height:11px;margin-top:-5px;background:url(http://static.shopping.naver.net/f2/img/sp_ico2.png) no-repeat -240px -275px;font-size:0;line-height:0}

/* advice lpopCategory */
.lpop_wrap2 .lpop_cont{min-height:0 !important;border:1px solid #565960 !important;background-color:#fff !important}
.lpop_select12{padding:10px 0 8px 10px;line-height:15px;color:#575a5f;text-align:left}
.lpop_select12 a{display:inline-block;overflow:hidden;max-width:85%;padding:3px 4px 2px;color:#575a5f;white-space:nowrap;text-overflow:ellipsis}
.lpop_select12 a.on{color:#03c300}
.lpop_mini{padding:3px 2px 2px;font-size:11px;color:#888B93;letter-spacing:-1px}
.lpop_mini .num{letter-spacing:0}
.lpop_gnb_more{padding:6px 0 4px 10px;text-align:left}
.lpop_gnb_more ul{width:100%}
.lpop_gnb_more ul:after{display:block;clear:both;content:''}
.lpop_gnb_more li,.lpop_gnb_more li+li{float:left;width:34px;padding:0;background:none;line-height:15px;color:#565960;letter-spacing:-1px}
.lpop_gnb_more li.w{width:43px}
.lpop_gnb_more li.spot{margin-bottom:3px;padding:0 0 1px;border-bottom:1px solid #edeeef}
.lpop_gnb_more li a{display:inline-block;margin-left:-1px;padding:3px 0;color:#565960}
.lpop_gnb_more li.all{width:auto;margin:0 0 0 12px}
.lpop_gnb_more li.all a{font-size:11px;color:#05c300}
.lpop_gnb_my{padding:7px 8px 8px 9px;line-height:normal;text-align:left}
.lpop_gnb_my li{float:none;padding:0 0 1px}
.lpop_gnb_my li~li{margin-top:6px;background:none}
.lpop_gnb_my li.last{padding:4px 0 2px;margin-top:7px;border-top:1px solid #ebebeb}
.lpop_gnb_my li a{display:inline-block;color:#444}
.lpop_gnb_my li a:hover{color:#438a01}

.ly_atcmp{width:100%}
.no_margin{margin:0}
.mt48{margin-top:48px}
.lpop_wrap .btn_close2,.lpop_wrap2 .btn_close2,.lpop_wrap4 .btn_close2{display:block;overflow:hidden;position:absolute;top:8px;right:8px;width:15px;height:15px;background:url(http://static.shopping.naver.net/f2/img/sp_btn.png) no-repeat -79px -79px;text-indent:-9000px}

[class^=ico_rating_]{display:inline-block;overflow:hidden;width:25px;height:25px;background:url(https://ssl.pstatic.net/static/movie/2016/05/sp_rating.png) no-repeat;line-height:999px;vertical-align:top}
.ico_rating_all{background-position:-30px 0}
.ico_rating_12{background-position:-30px -30px}
.ico_rating_15{background-position:-30px -60px}
.ico_rating_18{background-position:-30px -90px}
.ico_rating_19{background-position:-30px -120px}
.ico_rating_restricted{background-position:-30px -150px}
