@charset "utf-8";
/* NHN Technology Service NAVER UI Developmenet Team YJM 120403 */
body{background:#727272 url(https://ssl.pstatic.net/static/movie/2012/06/body_bg.png) repeat;text-align:center}
#wrap{position:relative;min-height:100%;margin:0 auto;padding-top:7px;text-align:left;*background:url(https://ssl.pstatic.net/static/movie/2014/04/header_bg.png) repeat-y}
#wrap.center{display:inline-block;*display:inline}
#wrap:after{display:block;clear:both;content:" "}
#header{position:fixed;top:0;bottom:0;z-index:10000;width:148px;border-left:1px solid #212121;border-right:1px solid #212121;background:#2b2b2b;min-height:100%;text-align:left;*position:absolute;*left:0;*z-index:auto}
.a #header,.s #header{position:absolute!important;left:0}
#wrap > .da_banner{position:absolute;left:170px;top:10px;z-index:9999;*width:270px}

.basic .people_list li.expand ~ li{display:none}
#wrap.basic{width:1095px}
#wrap.basic #content{width:775px;text-align:left}
#wrap.basic .section_group_frst{margin-left:0;border-right:none;padding-left:0}

#wrap.wide{width:1872px}
#wrap.wide .section_group{float:left;margin-right:-1px;border-right:1px solid #c7c7c9}
#wrap.wide .section_group + .section_group{border-left:1px solid #c7c7c9;border-right:0}

#wrap.fix{width:1095px}
#wrap.fix #footer{margin-right:65px}
#wrap.fix #content{width:839px;padding-bottom:0;text-align:left}
#wrap.fix .section_group_frst{margin-left:0;border-right:none;padding-left:0}

#wrap.fix2{width:1221px}
#wrap.fix2 #content{width:1030px;padding-bottom:0;text-align:left}
#wrap.fix2 .section_group_frst{margin-left:0;border-right:none;padding-left:0}

#wrap.fix3{width:1201px}
#wrap.fix3 #content{width:1010px;padding-bottom:0;text-align:left}
#wrap.fix3 .section_group_frst{margin-left:0;border-right:none;padding-left:0}

#container{margin-left:170px}
#content{position:relative;float:none;margin-top:9px;padding-bottom:55px;border-right:1px solid #525252;border-bottom:1px solid #525252;background:#fff;*zoom:1}
#content:after{display:block;clear:both;content:" "}
#container .spot{position:relative;margin-top:11px;margin-bottom:-1px;*z-index:20}
.basic #container{padding-right:150px}
.wide #container{padding-right:150px}
.basic #footer .in_footer .foot_con{width:776px}
.wide #footer .in_footer .foot_con{width:1552px}
.t #wrap.fix{width:1030px}
.t #wrap.fix #footer{margin-right:0}
.t .basic #container{padding-right:0;margin-left:150px}
.t #wrap.basic{width:926px}
.t .basic #footer .in_footer{margin-right:0}
.t #header{left:0}
#footer .in_footer{display:inline-block;margin-left:150px}
.basic #footer .in_footer{margin-right:150px}
#footer {clear:both; margin:0 auto; padding:23px 0 50px 0; text-align:center;} /* 091103수정 */
#footer a{color:#fff;text-decoration:none}
#footer a:visited{color:#fff;text-decoration:none}
#footer a:hover{text-decoration:underline}
#footer ul{margin:0 0 14px}
#footer ul li{display:inline;position:relative;margin-left:5px;padding-left:10px;background:url(https://ssl.pstatic.net/static/movie/2012/06/gnb_bg.gif) 0 2px no-repeat;font-size:12px;white-space:nowrap}
#footer ul li a:hover,#footer ul li a:hover strong{color:#fff}
#footer ul li.first{padding:0 3px 0 0;background:none}
#footer address{font-family:Verdana;font-size:9px;line-height:14px;color:#fff}
#footer address img{position:relative;top:-1px;vertical-align:middle}
#footer address a{color:#fff;font-family:Tahoma;font-size:9px;font-weight:bold}
#footer address a:hover{color:#fff}
#footer address span{padding-left:2px;font-family:Verdana;font-size:9px;line-height:14px}
#footer address em{padding-left:4px;font-family:verdana;font-size:9px}
#footer address .logo{display:inline-block;*display:inline;vertical-align:top;*vertical-align:baseline}
#footer .info{margin:-3px 0 9px;font-size:11px;line-height:18px;color:#bdbdbd}
#footer .info~.info{margin:-3px 0 8px}
#footer .info a{color:#bdbdbd}
#footer .info span{display:inline-block;margin-left:2px;padding-left:7px;background:url(https://ssl.pstatic.net/static/movie/2012/06/gnb_bg.gif) 1px 50% no-repeat;font-size:11px}
#footer .info2 {margin:-3px 0 13px 0; font-size:11px; line-height:18px;}
#footer .info2 span {display:inline-block; margin-left:2px; padding-left:7px; font-size:11px; background:url(https://ssl.pstatic.net/static/common/footer/bu_bar.gif) 1px 50% no-repeat; _background-position:left 40%;}
#footer .gomobile{clear:both; padding-top:50px;}
.gomobile{margin:9px 0 7px}


.article{float:none}
.article:after{display:block;clear:both;content:" "}
.line{background:url(https://ssl.pstatic.net/static/movie/2012/06/bg_tx_line.png) no-repeat}

.da_banner{float:left;width:270px;height:29px}
