@charset "utf-8";

/*
NHN WebStandardization Team (http://html.nhndesign.com/)
author : Kim, Ji Min 070706~070720
*/

/* 상단 탭 랭킹 */
.h_db_rank{display:block;width:32px;height:19px;background:url(https://ssl.pstatic.net/static/movie/2012/06/h_db.png) no-repeat 0 0;margin:5px 0 10px 0}
.h_db_dir{display:block;width:62px;height:19px;background:url(https://ssl.pstatic.net/static/movie/2012/06/h_db.png) no-repeat -34px 0;margin:5px 0 10px 0}
.tab_db_rank{overflow:hidden;border-top:1px solid #838383;border-bottom:1px solid #d3d3d3;margin-bottom:30px}
.tab_db_rank li{float:left;height:37px}
.tab_db_rank li a{display:block;height:37px;background:url(https://ssl.pstatic.net/static/movie/2012/06/db_tab_sp.png) no-repeat -9999px -9999px}
.tab_db_rank li a em{display:none}
.tab_db_rank li a.db_tab01{width:64px;background-position:0 0}
.tab_db_rank li a.db_tab01_on{width:64px;background-position:0 -37px}
.tab_db_rank li a.db_tab02{width:66px;background-position:-64px 0}
.tab_db_rank li a.db_tab02_on{width:66px;background-position:-64px -37px}
.tab_db_rank li a.db_tab03{width:66px;background-position:-130px 0}
.tab_db_rank li a.db_tab03_on{width:66px;background-position:-130px -37px}
.tab_db_rank li a.db_tab04{width:67px;background-position:-196px 0}
.tab_db_rank li a.db_tab04_on{width:67px;background-position:-196px -37px}
.tab_db_rank li a.db_tab05{width:55px;background-position:-263px 0}
.tab_db_rank li a.db_tab05_on{width:55px;background-position:-263px -37px}
.tab_db_rank li a.db_tab06{width:93px;background-position:-318px 0}
.tab_db_rank li a.db_tab06_on{width:93px;background-position:-318px -37px}
.tab_db_rank li a.db_tab07{width:54px;background-position:-411px 0}
.tab_db_rank li a.db_tab07_on{width:54px;background-position:-411px -37px}
.tab_db_rank li a.db_tab08{width:84px;background-position:-465px 0}
.tab_db_rank li a.db_tab08_on{width:84px;background-position:-465px -37px}
.tab_db_rank li a.db_tab09{width:48px;background-position:-549px 0}
.tab_db_rank li a.db_tab09_on{width:48px;background-position:-549px -37px}

/* 서브메인 _ 급상승 인기검색어*/
ol.submain_best {padding-top:9px;}
ol.submain_best li {float:left;}
ol.submain_best li .best_txt {padding:8px 0 0 16px;}
ol.submain_best li .best_txt a {color:#616161; letter-spacing:-1px; line-height:16px; font-weight:bold;}
ol.submain_best li.r01 {background:url(https://ssl.pstatic.net/imgmovie/2007/img/common/bullet_ranking_ol_1.gif) no-repeat 0 89px;}
ol.submain_best li.r02 {background:url(https://ssl.pstatic.net/imgmovie/2007/img/common/bullet_ranking_ol_2r.gif) no-repeat 0 89px;}
ol.submain_best li.r03 {background:url(https://ssl.pstatic.net/imgmovie/2007/img/common/bullet_ranking_ol_3r.gif) no-repeat 0 89px;}

/* 서브메인 _디렉토리*/
.submain_directory {width:563px; margin-top:32px; border:2px solid #f1f1f1;}
.submain_directory h4 {height:22px; _height:31px; padding:9px 0 0 13px; color:#616161; font-size:12px; background:#f1f1f1;}

.submain_directory table.movie {clear:both; margin:0 9px 11px 9px; border-top:1px solid #f0f0f0; table-layout:fixed;}
.submain_directory table.movie th {padding:10px 0 6px 12px; color:#616161; border-left:1px solid #f0f0f0; text-align:left;}
.submain_directory table.movie th a {color:#616161;}
.submain_directory table.movie td {padding-left:12px; height:20px; border-left:1px solid #f0f0f0; vertical-align:top;}
.submain_directory table.movie td a {color:#616161;}
.submain_directory table.movie .other {padding-left:5px; border:0;}

.submain_directory dl {clear:both; margin:0 9px; border-top:1px solid #f0f0f0; overflow:hidden;}
.submain_directory dl.movie {border:0;}
.submain_directory dt {float:left; width:65px; padding:10px 0 8px 5px; color:#ff4400; font-weight:bold; background:url(https://ssl.pstatic.net/imgmovie/2007/img/common/bullet_arrow_3x5_ff4200.gif) no-repeat 48px 12px;}
.submain_directory dt.movie { padding:10px 0 6px 5px; background:url(https://ssl.pstatic.net/imgmovie/2007/img/common/bullet_arrow_bottom_1.gif) no-repeat 35px 14px;}
.submain_directory dt a {color:#ff4400;}

.submain_directory dd {float:left; padding:9px 0 8px 0;}
.submain_directory dd a {color:#616161; font-weight:bold;}
.submain_directory dd.allview {float:right; padding:10px 4px 0 6px; background:url(https://ssl.pstatic.net/imgmovie/2007/img/common/bullet_arrow_r_3x5_7d.gif) no-repeat 0 13px;}
.submain_directory dd.allview a {color:#7d7d7d; font-size:11px; letter-spacing:-1px; font-weight:normal;}
.submain_directory dd ul {margin-left:-9px; overflow:hidden;}
.submain_directory dd li {display:inline; margin-left:-1px; padding:0 10px; background:url(https://ssl.pstatic.net/imgmovie/2007/img/common/line_vr_2.gif) no-repeat 0 0;}

/* 랭킹 분석기사 뷰 */
.ranking_news h3 {margin:15px 0 26px 0; padding:0; color:#2d2c2d; font-size:18px; letter-spacing:-1px; line-height:20px;}
.ranking_news h3 .txt_source {color:#aeaeae; font-size:11px; letter-spacing:0; font-weight:normal;}
.ranking_news p {margin-bottom:28px; color:#656565; font:15px 굴림; line-height:22px;}
.ranking_news .ranking_date {height:20px; _height:28px; padding:8px 10px 0 0; color:#656565; font:11px tahoma; font-weight:bold; text-align:right; background:#f5f5f5;}

/* 랭킹 리스트 */
.list_ranking {width:100%; border-bottom:1px solid #e6e6e6; margin-bottom:10px;}
.list_ranking th {height:31px; padding-top:8px; color:#848484; font-size:11px; font-weight:normal; border-bottom:1px solid #c9c9c9; text-align:center}
.list_ranking th.other {height:31px; padding-top:5px; color:#848484; font-size:11px; font-weight:normal; border-bottom:1px solid #c9c9c9;}
.list_ranking td {padding:6px 0 4px 0; color:#656565}
.list_ranking2 td {padding:6px 0 3px 0}
.list_ranking td a {color:#656565;}
.list_ranking td a.netizenid {color:#656565; font:12px tahoma;}
.list_ranking td a.id {color:#999999; font:9px tahoma;}
.list_ranking td a.txt_link {color:#999999; font:11px; letter-spacing:-1px; text-decoration:underline;}

.list_ranking td.order { font:bold 9px Tahoma; color:#929292; text-align:center;} /* 070813 */
.list_ranking td.title {overflow:hidden;padding-left:10px; color:#656565}
.list_ranking td.title a{color:#656565}
.list_ranking td.title div{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.list_ranking td.title .tit1{width:232px}
.list_ranking td.title .tit2{width:464px}
.list_ranking td.title .tit3{width:481px}
.list_ranking td.title .tit4{width:328px}
.list_ranking td.title .tit5{width:300px}
.list_ranking td.range {color:#999999; font:11px tahoma;}
.list_ranking td.point {color:#ff4200; font:9px tahoma; font-weight:bold; text-align:right;}
.list_ranking td.new_icon {padding-left:4px;}
.list_ranking td.reserve_per {padding-right:20px; color:#999; font:11px tahoma; font-weight:bold}
.list_ranking td.reserve_per_old {padding-right:15px; color:#999999; font:11px tahoma;}
.list_ranking td.reserve_cnt{padding-right:9px; color:#ff4200; font-size:11px;font-weight:normal} 
.list_ranking td.reserve_cnt em{margin-right:-2px;color:#ff4200;font:11px tahoma;font-weight:bold} 
.list_ranking td.boxoffice_screen {padding-right:5px; color:#333333; font:11px tahoma;}
.list_ranking td.boxoffice_total {padding-right:5px; color:#999999; font:11px tahoma;}
.list_ranking td.birth {color:#656565; font:11px tahoma;}
.list_ranking td.birth a {color:#ff4200; font:11px tahoma;}
.list_ranking td.job {color:#999999;}
.list_ranking td.number {color:#999999; font:9px tahoma;}
.list_ranking td.term {padding-right:20px; color:#999999; font-size:11px;}
.list_ranking td .term_number {color:#999999; font:9px tahoma; font-weight:bold;}
.list_ranking td img.type {margin:1px 0 0 3px; vertical-align:top;}

.list_ranking td.blank01 {height:10px; padding:0;}
.list_ranking td.line01 {height:18px ; padding:0; background:url(https://ssl.pstatic.net/imgmovie/2007/img/common/line_5.gif) repeat-x 0 8px; overflow:hidden;}

.ranking_txt{position:relative;margin-bottom:-14px;padding-right:7px;color:#8b8b8b;font-size:11px;letter-spacing:-1px;text-align:right} /* 101208 */
.ranking_txt strong{position:absolute;top:-1px;left:-2px;font-size:11px;font-weight:normal;color:#848484;letter-spacing:-1px}

/* 영화평점랭킹 선정방법 */
.box_choice_way {margin-top:35px; padding:21px 0 0 15px; border:1px solid #d6d4d4; background:#fbfbfb;}
.box_choice_way .time {width:533px; padding:20px 0 20px 0; color:#333333; background:url(https://ssl.pstatic.net/imgmovie/2007/img/common/dot_5x1.gif) repeat-x left top;}

dl.choice_way {margin-top:10px;}
dl.choice_way dt {float:left; width:44px; height:20px; vertical-align:top;}
dl.choice_way dt img {margin-bottom:2px;}
dl.choice_way dd { height:20px;color:#656565; vertical-align:top;}
dl.choice_way dd em,
dl.choice_way dd strong {color:#ff4200;}

.choice_way_data {margin-top:5px; border:1px solid; border-color:#bebebe #dbdbdb #e4e4e4 #dbdbdb; background:#f3f3f3;}
.choice_way_data th {height:24px; color:#656565; font-weight:normal; border:0; border-right:1px solid #dbdbdb; border-bottom:1px solid #e4e4e4;}
.choice_way_data th.bgwhite { background:#fff;}
.choice_way_data td {height:24px; color:#656565; font:11px verdana; font-weight:bold; text-align:center; border:0; border-right:1px solid #dbdbdb; border-bottom:1px solid #e4e4e4;}
.choice_way_data td.num {color:#9b9b9b; font:11px tahoma; font-weight:bold; background:#fff;}

dl.choice_way_qna {margin-top:32px;}
dl.choice_way_qna dd {position:relative; margin:9px 0 15px 0; padding-left:18px; color:#999999;}
dl.choice_way_qna dd ul {_padding-bottom:15px; overflow:hidden;}
dl.choice_way_qna dd li {float:left; width:168px; height:18px; padding-left:7px; color:#999999; background:url(https://ssl.pstatic.net/imgmovie/2007/img/common/dot_3x3.gif) no-repeat 0 4px;}

/* 디렉토리 항목 */
dl.directory_item {clear:both; width:563px; padding:12px 0 9px 0; border-bottom:1px solid #ebebeb; overflow:hidden;}
dl.directory_item dt {float:left; padding:1px 14px 0 10px; color:#000; font-size:14px; font-weight:bold; vertical-align:top;}
dl.directory_item dd {float:left; width:520px; line-height:22px; vertical-align:top;}
dl.directory_item li {float:left; padding-right:15px; color:#999; font-size:11px; line-height:22px; white-space:nowrap;}
dl.directory_item li a {color:#656565; font-size:14px;}

dl.directory_item_1 {clear:both; width:563px; padding:12px 0 9px 0; border-bottom:1px solid #ebebeb; overflow:hidden;}
dl.directory_item_1 dt {float:left; padding:1px 14px 0 10px; color:#000; font-size:14px; font-weight:bold; vertical-align:top;}
dl.directory_item_1 dt img {margin-top:4px; vertical-align:top;}
dl.directory_item_1 dd {float:left; vertical-align:top;}

.directory_item_other {margin:21px 0 10px 12px;}
.directory_item_other td {height:26px; color:#999; font-size:11px; line-height:22px; vertical-align:top;}
.directory_item_other td a {color:#656565; font-size:14px;}

.directory_item_other_1 {margin:21px 0 10px 0;}
.directory_item_other_1 th {color:#000; font-size:14px; line-height:22px; text-align:right; vertical-align:top;}
.directory_item_other_1 td {padding-left:12px; height:26px; color:#999; font-size:11px; line-height:22px; vertical-align:top;}
.directory_item_other_1 td a {color:#656565; font-size:14px;}
.directory_item_other_1 td .nodata {color:#a3a3a3; font-size:14px; line-height:22px;}
.directory_item_other_1 td.blank01 {padding:0; height:5px;}
.directory_item_other_1 td.blank02 {padding:0; height:13px;}
.directory_item_other_1 td.line01 {padding:0; width:563px; height:1px; border-bottom:1px solid #ebebeb;}

.directory_item_other_2 { width:100%;}
.directory_item_other_2 th {width:126px; font-size:14px; text-align:left; border-bottom:1px solid #ebebeb;}
.directory_item_other_2 td {padding:12px 0 9px 0; color:#999999; font:11px Tahoma; line-height:22px; border-bottom:1px solid #ebebeb;}
.directory_item_other_2 td a {color:#656565; font:14px Dotum;}

hr.directory_item_line {width:563px; height:1px; border:0; border-bottom:1px solid #ebebeb;}

/* 디렉토리 카테고리 선택박스 */
.category_choice {margin-top:8px; padding-top:21px; border:3px solid #c9c9c9;}
.category_choice h5 {padding:0 0 10px 20px; font-size:18px; line-height:18px;}

.category_now {padding-left:37px; color:#575757; background:url(https://ssl.pstatic.net/imgmovie/2007/img/common/icon_category.gif) no-repeat 22px 1px;}
.category_now a {color:#575757; text-decoration:underline;}
.category_now strong {color:#575757;}
.category_now ul {position:relative; margin-left:-5px; display:inline; overflow:hidden;}
.category_now li {display:inline; margin-left:-1px; padding:0 7px 0 8px; color:#575757; background:url(https://ssl.pstatic.net/imgmovie/2007/img/common/line_vr_3.gif) no-repeat left top;}
.category_now li a {color:#ff3c00; text-decoration:underline;}

.category_choice_box {margin-top:15px; padding:14px 0 15px 19px; border-top:1px solid #f5f4f4; background:#fafafa;}
.category_choice_box ul { _height:19px; overflow:hidden;}
.category_choice_box li {display:inline; }
.category_choice_box li a {float:left; padding:3px;}

/* 디렉토리 상세리스트 */
.directory_list {margin:24px 10px 0 11px;}
.directory_list li {padding-bottom:12px; line-height:19px;}
.directory_list li a {color:#030303; font-size:14px;}
.directory_list ul.detail {width:100%; margin-left:-5px; overflow:hidden;}
.directory_list ul.detail li {display:inline; margin-left:-1px; padding:0 4px 0 6px; color:#999999; font-size:12px; background:url(https://ssl.pstatic.net/imgmovie/2007/img/common/line_vr_3.gif) no-repeat left top;}
.directory_list ul.detail li a {color:#999999; font-size:12px;}

/* 문구 */
.txt_mark {color:#999999;}
.txt_term {color:#999999; font-size:11px; }
.txt_term strong {color:#999999; font-size:11px; }

/* right 공통 */
ul.r_ranking {margin-top:17px;}
ul.r_ranking li {position:relative; height:22px; padding:2px 50px 0 30px; letter-spacing:-1px;}
ul.r_ranking li .rank {position:absolute; right:0; top:1px; width:39px; color:#5b5b5b; font-size:11px; font-family:tahoma;}
ul.r_ranking li .rank img {margin-right:11px;}
ul.r_ranking li .rank img.new {margin:0 0 0 2px;}
ul.r_ranking li .ratio{position:absolute; right:12px; top:1px;color:#5b5b5b;font-size:11px;letter-spacing:0;font-family:tahoma}
ul.r_ranking li .ratio em{font-family:tahoma;margin-right:-2px}
ul.r_ranking li .check {color:#ff4400;}
ul.r_ranking.box a{display:block;overflow:hidden;width:90px;white-space:nowrap;text-overflow:ellipsis}
ul.r_ranking.box li .ratio{font-family:"돋움", Dotum,sans-serif}

ul.r_db {margin:2px 0 0 11px;} /* 070911 */
ul.r_db li { position:relative; padding:12px 0;}
ul.r_db li h6 {position:absolute; left:71px; top:15px; color:#616161; letter-spacing:-1px;}
ul.r_db li h6 a {color:#616161; letter-spacing:-1px;}
ul.r_db li.division {border-bottom:1px solid #f3f3f3;}

.r_db_info {position:absolute; left:71px; top:38px;}
ul.r_db_info_detail {clear:both; overflow:hidden;}
ul.r_db_info_detail li {float:left; padding:0; color:#9a9a9a; font-size:11px;}
ul.r_db_info_detail li.ln {padding-left:16px; background:url(https://ssl.pstatic.net/imgmovie/2007/img/common/gn_bg_division_2.gif) no-repeat 8px 1px;}
ul.r_db_info_detail li a {color:#9a9a9a; font-size:11px;}
ul.r_db_info_detail li a.etc {color:#ff4400; text-decoration:underline;}

dl.r_db_info_detail {clear:both; margin:1px 0 8px 0;}
dl.r_db_info_detail dt {float:left; width:30px; height:14px; color:#646464; font-size:11px; letter-spacing:-1px; vertical-align:top;} /* 070907 */
dl.r_db_info_detail dd {float:left; width:75px; height:14px; color:#646464; font-size:11px; letter-spacing:-1px; vertical-align:top;} /* 070907 */
dl.r_db_info_detail dd a {color:#646464; font-size:11px; letter-spacing:-1px;}
